body {
    background: #f9fafc;
    font-family: "Open Sans";
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* chirpus inc. nav link */ /***************************************/
/*.bold a {
    font-family: "Open Sans" bold;
}*/

.grey a {
    color: #69696a;
}

a.button {
    background-color: #000;
    color: #fff;
    width: 100%;
}

p {
    border-left: 2px solid #69696a;
}

footer {
    background-color: rgba(247, 193, 162, 0.7)
}

@media screen and (min-width: 768px) {
    p {
        width: 50%;
    }
    /*
○ Circles have fixed widths and heights. (You choose to approximate the design.)
○ Circles should NOT be displayed in the mobile view.
○ Circle Colors:
■ Large: rgba(247, 136, 167, 0.6)
■ Medium: rgba(247, 193, 162, 0.7)*/
}