/* Default settings */
/* Mobile first design */

body {
    background: #f9fafc;
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #69696a;
}

ul {
    padding: 0;
    width: 100vw;
    max-width:100%;
}

.chirpus, a.black {
    font-weight: 900;
    justify-content: flex-start;
    color: #000;
    flex: 1;
}

/* Navbar */
.navbar {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    list-style-type: none;
    padding: 3px 15px 0 0;
}

main {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width:100%;
}

.circles {
    visibility: hidden;
}

ul .button {
    margin-top: 10px;
    margin-right: 0%;
}

.button {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    min-width: 98%;
}

/* Details section */
p {
    border-left: 3px solid #69696a;
    color: #69696a;
    padding-left: 12px;
}

footer {
    width: 100%;
}

.footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    bottom: 0;
    align-items: center;
}

footer .chirpus {
    margin-left: 0;
    flex: 1;
}


/* Desktop design */
@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav .button {
        padding: 5px 7px;
        min-width: auto;
    }

    main {
        position: relative;
        padding-top: 10%;
    }

    .container {
        width: 50%;
    }

    .circles {
        visibility: visible;
    }

    .pink, .beige, .purple {
        border-radius: 50%;
        opacity: .95;
        position: absolute;
    }

    .pink {
        background-color: rgba(247, 136, 167, 0.6);
        width: 200px;
        height: 200px;
        right: 60px;
        top: 15vh;
    }

    .beige {
        background-color: rgba(247, 193, 162, 0.7);
        width: 150px;
        height: 150px;
        right: 10px;
        top: 33vh;
    }
 
    .purple {
        background-color: rgba(207, 130, 213, 0.6);
        width: 100px;
        height: 100px;
        right: 11px;
        top: 22vh;
    }




}


/*
○ Circles have fixed widths and heights. (You choose to approximate the design.)
○ Circles should NOT be displayed in the mobile view.
○ Circle Colors:
■ Large: rgba(247, 136, 167, 0.6)
■ Medium: rgba(247, 193, 162, 0.7)*/
