/* Default settings */
/* Mobile first design */

body {
    background: #f9fafc;
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #69696a;
}

ul {
    padding: 0;
}

.chirpus, a.black {
    font-weight: bolder;
    justify-content: flex-start;
    color: #000;
    flex: 1;
}

/* Navbar */
.header {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li {
    list-style-type: none;
    padding: 3px 15px 0 0;
}

main {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
}

.circles {
    visibility: hidden;
}

ul .button {
    margin-top: 10px;
}

.button {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}

/* Details section */
p {
    border-left: 2px solid #69696a;
    color: #69696a;
    padding-left: 10px;
}


.footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    bottom: 0;
}

footer .chirpus {
    margin-left: 0;
    flex: 1;
}


/* Desktop design */
@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
    }

    ul .button {
        margin-top: 0px;
        padding: 5px 7px;
    }

    main {
        position: relative;
    }

    .container {
        width: 50%;
    }

    .circles {
        visibility: visible;
    }

    .pink, .beige, .purple {
        border-radius: 50%;
        opacity: .85;
        position: absolute;
    }

    .pink {
        background-color: rgba(247, 136, 167, 0.6);
        width: 200px;
        height: 200px;
        right: 60px;
        top: 10vh;
    }

    .beige {
        background-color: rgba(247, 193, 162, 0.7);
        width: 150px;
        height: 150px;
        right: 10px;
        top: 32vh;
    }
 
    .purple {
        background-color: rgba(207, 130, 213, 0.6);
        width: 100px;
        height: 100px;
        right: 10px;
        top: 20vh;
    }




}


/*
○ Circles have fixed widths and heights. (You choose to approximate the design.)
○ Circles should NOT be displayed in the mobile view.
○ Circle Colors:
■ Large: rgba(247, 136, 167, 0.6)
■ Medium: rgba(247, 193, 162, 0.7)*/
